USE [master]
GO
/****** Object:  Database [QLKHO]    Script Date: 5/3/2021 8:12:20 ******/
CREATE DATABASE [QLKHO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHO', FILENAME = N'D:\SQLServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLKHO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKHO_log', FILENAME = N'D:\SQLServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLKHO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHO]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] NOT NULL,
	[ACCOUNT_NAME] [nvarchar](max) NOT NULL,
	[EMAIL] [nvarchar](max) NOT NULL,
	[ACCOUNT_PASSWORD] [nvarchar](max) NOT NULL,
	[PHONE] [nvarchar](11) NULL,
	[STATUS] [nvarchar](11) NOT NULL,
	[ID_ROLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[ID] [int] NOT NULL,
	[BRANCH_NAME] [nvarchar](max) NOT NULL,
	[BRANCH_LOCATION] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] NOT NULL,
	[CATEGORY_NAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_INBILL]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_INBILL](
	[ID_INBILL] [int] NOT NULL,
	[ID_PRODUCT] [int] NOT NULL,
	[AMOUNT] [int] NULL,
	[COST] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INBILL] ASC,
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_OUTBILL]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_OUTBILL](
	[ID_OUTBILL] [int] NOT NULL,
	[ID_PRODUCT] [int] NOT NULL,
	[AMOUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OUTBILL] ASC,
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INBILL]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INBILL](
	[ID] [int] NOT NULL,
	[ID_SUPPLIER] [int] NOT NULL,
	[BILL_STATUS] [nvarchar](max) NULL,
	[TOTAL] [bigint] NULL,
	[CREATE_TIME] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST_PRODUCT]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST_PRODUCT](
	[ID] [int] NOT NULL,
	[PRODUCT_NAME] [nvarchar](max) NOT NULL,
	[EXPIRY] [int] NOT NULL,
	[ID_CATEGORY] [int] NULL,
	[DETAIL] [nvarchar](max) NULL,
	[IMAGE_PRODUCT] [nvarchar](max) NULL,
	[UNIT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTBILL]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTBILL](
	[ID] [int] NOT NULL,
	[ID_BRANCH] [int] NOT NULL,
	[BILL_STATUS] [nvarchar](max) NULL,
	[TOTAL] [bigint] NULL,
	[CREATE_TIME] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] NOT NULL,
	[AMOUNT] [int] NULL,
	[ID_LIST] [int] NULL,
	[EXPIRY_DAY] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_TABLE]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_TABLE](
	[ID] [int] NOT NULL,
	[ROLE_NAME] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 5/3/2021 8:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID] [int] NOT NULL,
	[SUPPLIER_NAME] [nvarchar](max) NOT NULL,
	[SUPPLIER_LOCATION] [nvarchar](max) NOT NULL,
	[PHONE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([ID], [ACCOUNT_NAME], [EMAIL], [ACCOUNT_PASSWORD], [PHONE], [STATUS], [ID_ROLE]) VALUES (1, N'Đặng Tuấn Đạt ', N'dtd@gmail.com', N'123', N'123456789', N'HD', 1)
INSERT [dbo].[ACCOUNT] ([ID], [ACCOUNT_NAME], [EMAIL], [ACCOUNT_PASSWORD], [PHONE], [STATUS], [ID_ROLE]) VALUES (2, N'Nguyễn Hoàng Long', N'nhl@gmail.com', N'123', N'123456789', N'HD', 2)
INSERT [dbo].[ACCOUNT] ([ID], [ACCOUNT_NAME], [EMAIL], [ACCOUNT_PASSWORD], [PHONE], [STATUS], [ID_ROLE]) VALUES (3, N'Ngô Thành Luân', N'ntl@gmail.com', N'123', N'123456789', N'HD', 3)
GO
INSERT [dbo].[BRANCH] ([ID], [BRANCH_NAME], [BRANCH_LOCATION]) VALUES (1, N'Cơ sở 1', N'Hồ Chí Minh')
INSERT [dbo].[BRANCH] ([ID], [BRANCH_NAME], [BRANCH_LOCATION]) VALUES (2, N'Cơ sở 2', N'Vũng Tàu')
INSERT [dbo].[BRANCH] ([ID], [BRANCH_NAME], [BRANCH_LOCATION]) VALUES (3, N'Cơ sở 3', N'Bình Dương')
GO
INSERT [dbo].[CATEGORY] ([ID], [CATEGORY_NAME]) VALUES (1, N'Trái cây')
INSERT [dbo].[CATEGORY] ([ID], [CATEGORY_NAME]) VALUES (2, N'Rau củ quả')
INSERT [dbo].[CATEGORY] ([ID], [CATEGORY_NAME]) VALUES (3, N'Thịt')
GO
INSERT [dbo].[LIST_PRODUCT] ([ID], [PRODUCT_NAME], [EXPIRY], [ID_CATEGORY], [DETAIL], [IMAGE_PRODUCT], [UNIT]) VALUES (1, N'Cà chua', 30, 2, N'Bo sung mo ta cho san pham', N'cachua.png', N'Cân')
INSERT [dbo].[LIST_PRODUCT] ([ID], [PRODUCT_NAME], [EXPIRY], [ID_CATEGORY], [DETAIL], [IMAGE_PRODUCT], [UNIT]) VALUES (2, N'Khoai tây', 20, 2, N'Bo sung mo ta cho san pham 2', N'khoaitay.png', N'Cân')
INSERT [dbo].[LIST_PRODUCT] ([ID], [PRODUCT_NAME], [EXPIRY], [ID_CATEGORY], [DETAIL], [IMAGE_PRODUCT], [UNIT]) VALUES (3, N'Súp lơ', 20, 2, N'Bo sung mo ta cho san pham 3', N'suplo.png', N'Cân')
GO
INSERT [dbo].[PRODUCT] ([ID], [AMOUNT], [ID_LIST], [EXPIRY_DAY]) VALUES (1, 10, 1, CAST(N'2021-05-03' AS Date))
INSERT [dbo].[PRODUCT] ([ID], [AMOUNT], [ID_LIST], [EXPIRY_DAY]) VALUES (2, 10, 2, CAST(N'2021-05-03' AS Date))
INSERT [dbo].[PRODUCT] ([ID], [AMOUNT], [ID_LIST], [EXPIRY_DAY]) VALUES (3, 10, 3, CAST(N'2021-05-03' AS Date))
GO
INSERT [dbo].[ROLE_TABLE] ([ID], [ROLE_NAME]) VALUES (1, N'Admin')
INSERT [dbo].[ROLE_TABLE] ([ID], [ROLE_NAME]) VALUES (2, N'Admin_Out')
INSERT [dbo].[ROLE_TABLE] ([ID], [ROLE_NAME]) VALUES (3, N'Admin_In')
GO
INSERT [dbo].[SUPPLIER] ([ID], [SUPPLIER_NAME], [SUPPLIER_LOCATION], [PHONE]) VALUES (1, N'NHÀ CUNG CẤP 1', N'HÀ NỘI', N'123456789')
INSERT [dbo].[SUPPLIER] ([ID], [SUPPLIER_NAME], [SUPPLIER_LOCATION], [PHONE]) VALUES (2, N'NHÀ CUNG CẤP 2', N'BÌNH ĐỊNH', N'123456789')
INSERT [dbo].[SUPPLIER] ([ID], [SUPPLIER_NAME], [SUPPLIER_LOCATION], [PHONE]) VALUES (3, N'NHÀ CUNG CẤP 3', N'BẮC GIANG', N'123456789')
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ID_ROLE])
REFERENCES [dbo].[ROLE_TABLE] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_INBILL]  WITH CHECK ADD FOREIGN KEY([ID_INBILL])
REFERENCES [dbo].[INBILL] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_INBILL]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_OUTBILL]  WITH CHECK ADD FOREIGN KEY([ID_OUTBILL])
REFERENCES [dbo].[OUTBILL] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_OUTBILL]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[INBILL]  WITH CHECK ADD FOREIGN KEY([ID_SUPPLIER])
REFERENCES [dbo].[SUPPLIER] ([ID])
GO
ALTER TABLE [dbo].[LIST_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_LISTPRODUCT_CATEGORY] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[LIST_PRODUCT] CHECK CONSTRAINT [FK_LISTPRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[OUTBILL]  WITH CHECK ADD FOREIGN KEY([ID_BRANCH])
REFERENCES [dbo].[BRANCH] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_LIST] FOREIGN KEY([ID_LIST])
REFERENCES [dbo].[LIST_PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_LIST]
GO
USE [master]
GO
